.searchbtn{
    width: max-content;
    padding: 6px 20px;
    background-color: #84C7AE;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all .5s;
}

.searchbtn:hover{
    background-color: #689c89;
}

nav{
    background-color: rgba(0,0,0, 80%);
}


.formofnavbar{
    align-items: center;
}

.websiteclr{
    color: #84C7AE;
    transition: all .5s;
}

.websiteclr:hover{
    color: #689c89;
}